*{

}

body{
    height: 100vh;
    width: 100vw;
}

.logo{
    height: 75px;
    width: 75px;
    background-color: black;
}
.navbar{
    height: 12vh;
    background-color: #F2f2f2;
}
.title{
    font-size: 30px;
    font-weight: 600;
    color: black;
    vertical-align: middle;
}
main{
    height: 76vh;
    background-color: #F37B37;
}
footer{
    height: 12vh;
    background-color: #F2f2f2;
}
.login{
    height: 600px;
    margin-left: 75px;
    background-color: #F2f2f2;
}