@import url('https://fonts.googleapis.com/css2?family=Mandali&family=Poppins&family=Varela+Round&display=swap');
:root {
    --primary: #F37B37;
    --secondary: #1F2032;
    --accent: #FFCF67
}
/*-----------------------------------------------------------------*/
/*  Stylesheet common for all pages    */
/*------------------------------------------------------------------*/
body{
    padding: 0;
    padding-top: 100px;
    margin: 0;
    position: relative;
    
    background-color: rgb(240, 240, 240);
}
h1{
    font-size: 28px;
}
h1, h2, h3, h4, p{
    margin: 0;
}
p, a, label, input, select, textarea, td{
    font-size: 14px;
}
header{
    position: sticky;
    top: 0;
    margin: 0;
    width: 94%;
    padding: 15px 3%;
    border-bottom: 2px solid #a3a3a3;
    background-color: #1975ff;
    z-index: 1;
}
    header h2, header h3{
        display: inline-block;
        padding: 0 1.5% 0 0;
        width: max-content;
    }
    header h3{
        font-size: 18px;
    }
    header a{
        margin: 0;
        color: white;
    }
    header .nav_end{
        text-align-last: auto;
        position: absolute;
        right: 3%;
        top: 17px;
    }
nav{
    position: sticky;
    margin-bottom: 30px;
}
img{
    object-fit: contain;
    width: 100%;
    height: 100%;
}
figure{
    margin: 0;
}
button{
    vertical-align: middle;
}
input[type=submit]{
    /* height: 24.5px; */
    border-radius: 3px;
}
button{
    border-radius: 3px;
}
a{
    text-decoration: none;
}
.color1{
    background-color: #ededed;
}


/*------------------------------------------------------------------*/
/*  Pagination Section  */
/*------------------------------------------------------------------*/
.pagination{
    padding: 20px;
}
    .pagination a{
        width: 20px;
        height: 20px;
        padding: 8px 7px 6px 7px;
        display: inline-block;
        outline: 1px solid #a3a3a3;
        background-color: white;
    }
        .pagination a:hover{
            background-color: #1975ff;;
            color: white;
        }

/*------------------------------------------------------------------*/
/*  Admin Orders Dashboard Table / Admin Products Dashboard Table Section   */
/*------------------------------------------------------------------*/
.admin_orders_table, .admin_products_table{
    margin-top: 40px;
    width: calc(100%);
}
.admin_orders_table td:nth-child(6), .admin_products_table td:nth-child(6){
    width: 250px;
    text-align: center;
}

/*------------------------------------------------------------------*/
/*  END OF Stylesheet common for all pages    */
/*------------------------------------------------------------------*/



/*------------------------------------------------------------------*/
/*  Products Page   */
/*------------------------------------------------------------------*/
/*  Category Section   */
/*------------------------------------------------------------------*/
.products_categories{
    padding: 15px;
}
.products_categories label{
    margin-left: 10px;
    font-size: 16px;
}
.category_panel{
    text-align: center;
}
    .category_panel form{
        padding: 14.5px;
        background-color: white;
    }
        .category_panel form button{
            height: 24px;
        }
    .category_panel section{
        background-color: white;
        padding-bottom: 15px;
        border-top: 1px solid #a3a3a3;
    }
        .category_panel h4{
            padding: 15px 15px 5px 15px;
            text-align: left;
        }
        .category_panel a{
            text-align: left;
            padding: 5px 5px 5px 30px;
            display: block;
            color: black;
        }
            .category_panel a:hover{
                font-weight: 600;
                outline: 1px solid #a3a3a3;
            }
        .category_panel a.show_all_products{
            font-style: italic;
        }

/*------------------------------------------------------------------*/
/*  Catalog Section   */
/*------------------------------------------------------------------*/
.catalog{
    text-align: center;
    /* display: inline-block; */
    vertical-align: top;
    /* border: 1px solid #a3a3a3; */
    background-color: white;
}
    .catalog .subheader{
        text-align: left;
        position: relative;
        border-bottom: 1px solid #a3a3a3;
        background-color: white;
    }
        .catalog .subheader h2{
            font-size: 20px;
            padding: 15px;
        }
        .catalog .subheader .pagination_top{
            position: absolute;
            right: 0;
            top: 0;
            border-left: 1px solid #a3a3a3;
        }
            .catalog .subheader .pagination_top a, .catalog .subheader .pagination_top p{
                padding: 19px;
                width: 35px;
                margin: 0;
                border-right: 1px solid #a3a3a3;
                text-align: center;
                display: inline-block;
            }
            .catalog .subheader .pagination_top a:last-of-type{
                border: none;
            }
                .catalog .subheader .pagination_top a:hover, .catalog .subheader .pagination_top p:hover{
                    background-color: #1975ff;
                    color: white;
                }
    .catalog form{
        text-align: right;
        margin: 10px 20px 20px 0;
    }

/*------------------------------------------------------------------*/
/*  Product / Item Section   */
/*------------------------------------------------------------------*/
.products{
    width: 250px;
    height: 300px;
    margin: 10px 10px;
    border: 1px solid var(--secondary);
    background-color: #f2f2f2;
    vertical-align: top;
}
    .products p{
        padding: 5px 0 20px 0;
        text-align: center;
    }
    .products img{
        height: 150px;
        mix-blend-mode: multiply;
    }
figure.item{
    height: 200px;
    position: relative;
    object-fit: contain;
}
    .products:hover{
        border: 1px solid var(--accent);
        outline: 1px solid var(--accent);
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.075) inset, 0 0 8px var(--accent);
    }

/*------------------------------------------------------------------*/
/*  END OF Products Page   */
/*------------------------------------------------------------------*/


/*------------------------------------------------------------------*/
/*  Item Page   */
/*------------------------------------------------------------------*/
/*  Item Panel Section   */
/*------------------------------------------------------------------*/
.item_panel{
    text-align: left;
    width: 100%;
}
.item_panel > a > p{
    margin-bottom: 15px;
    text-decoration: underline;
}
.item_details .img_section{
    text-align: center;
    padding: 20px 0px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    background-color: white;
}
    .item_details .main_img{
        width: 350px;
        height: 350px;
        background-color: white;
        display: inline-block;
        margin: 0 3px 15px 3px;
        /* outline: 1px solid #a3a3a3; */
    }
    .item_details .img_section section .sub_img{
        display: inline-block;
        width: 80px;
        height: 80px;
        background-color: white;
    }

/*------------------------------------------------------------------*/
/*  Item Description Section   */
/*------------------------------------------------------------------*/
.item_details .desc_section{
    vertical-align: top;
    /* outline: 1px solid #a3a3a3; */
    height: 450px;
    background-color: white;
    overflow: hidden;

}   
.scroll::-webkit-scrollbar {
    display: none;
  }
    .item_details h2{
        padding: 10px 0px;
        margin-bottom: 5px;
        margin-left: 0px;
    }
    .item_panel textarea{
        background-color: #e7e7e7;
        outline: none;
        border: none;
        font-size: 16px;
        resize: none;
        height: 70%;
        padding: 40px 40px 40px 40px;
        text-align: justify;
    }
.item_panel form{
    text-align: right;
    position: relative;
    padding: 15px 40px;
}
    .item_panel form select{
        width: 140px;
    }
    p.item_added_confirm{
        background-color: rgb(6, 184, 6);
        color: white;
        border-radius: 4px;
        position: absolute;
        right: 40px;
        top: 50px;
        width: fit-content;
        border: 1px solid gray;
        margin: 0;
        padding: 5px 51px;
        display: none;
    }

/*------------------------------------------------------------------*/
/*  Similar Items Section   */
/*------------------------------------------------------------------*/
.similar_items_section{
    margin: 40px 10px 10px 10px;
    outline: 1px solid #a3a3a3;
    background-color: white;
}
    .similar_items_section h3{
        text-align: left;
        padding: 15px;
        border-bottom: 1px solid #a3a3a3;
        margin-bottom: 10px;
    }

/*------------------------------------------------------------------*/
/*  END OF Item Page   */
/*------------------------------------------------------------------*/


/*------------------------------------------------------------------*/
/*  Cart Page   */
/*------------------------------------------------------------------*/
/*  Cart Table Section   */
/*------------------------------------------------------------------*/
.cart_table_section{
    text-align: right;
}
.cart_table th{
    text-align: center;
}
    .cart_table th:nth-child(3){
        width: 25%;
    }
.cart_table td{
    text-align: left;
    height: 36px;
}
.cart_table td + td{
    text-align: right;
}
.cart_table form{
    display: inline-block;
}
.btn_delete_product{
    background-color: rgba(255, 255, 255, 0);
    border: none;
    display: inline-block;
    padding: 0;
    background-color: rgb(255, 47, 47);
}
    .btn_delete_product svg{
        padding: 8.6px;
        border: 1px solid #a3a3a3;
        vertical-align: middle;
        color: white;
    }
.update_product{
    padding: 8.6px;
    border: 1px solid #a3a3a3;
    vertical-align: middle;
}
    .update_product:hover{
        color: white;
        background-color: #1975ff;
    }
.cart_table_section h4{
    padding: 12px 5px;
    background-color: white;
    border: 1px solid #a3a3a3;
}
    .btn_continue_shopping{
        margin-top: 10px;
        background-color: rgb(6, 184, 6);
        color: white;
        outline: 1px solid #a3a3a3;
        border-radius: 3px;
    }

/*------------------------------------------------------------------*/
/*  Cart Billing Section   */
/*------------------------------------------------------------------*/
.cart_billing_section{
    text-align: left;
    background-color: white;
    border: 1px solid #a3a3a3;
}
    .cart_billing_section .card_billing{
        margin: 20px 0 6px 20px;
    }
    .cart_billing_section .card_exp > p + input + p{
        width: 10px;
    }
    .cart_billing_section .btn_billing{
        text-align: right;
        margin: 20px 0 6px 20px;
    }

/*------------------------------------------------------------------*/
/*  END OF Cart Page   */
/*------------------------------------------------------------------*/


/*------------------------------------------------------------------*/
/*  Registration / Login Page   */
/*------------------------------------------------------------------*/
.login_register_page{
    margin-top: 20px;
    outline: 1px solid #a3a3a3;
    width: fit-content;
    display: inline-block;
    padding: 0 20px;
    background-color: white;
}
.form_login_register{
    width: 450px;
    margin: 5% auto;
    text-align: left;
}
    .form_login_register h2{
        margin: 20px 0 10px 0;
    }
    .form_login_register > span{
        display: block;
        margin: 6px 20px 6px 20px;
    }
    .form_login_register p{
        display: inline-block;
        width: 170px;
    }
    .form_login_register input{
        width: calc(450px - 170px - 2*20px - 8px);
    }
    .form_login_register .btn_login_register{
        text-align: right;
        margin: 30px 20px 20px auto;
    }
        .form_login_register .btn_login_register input{
            background-color: rgb(51, 51, 247);
            width: fit-content;
            color: white;
        }

/*------------------------------------------------------------------*/
/*  END OF Registration / Login Page   */
/*------------------------------------------------------------------*/


/*------------------------------------------------------------------*/
/*  Admin Orders Dashboard Page   */
/*------------------------------------------------------------------*/
.header_admin{
    background-color: rgb(167, 0, 0);
}
    .header_admin h3{
        margin-left: 1.5%;
    }

/*------------------------------------------------------------------*/
/*  Additional for Admin Orders Dashboard Table Section    */    
/*------------------------------------------------------------------*/
.admin_orders_table td:nth-child(5){
    text-align: right;
}
.admin_orders_table td:first-child{
    text-align: center;
}
    .admin_orders_table td:first-child a{
        text-decoration: none;
    }

/*------------------------------------------------------------------*/
/*  END OF Admin Orders Dashboard Page    */
/*------------------------------------------------------------------*/


/*------------------------------------------------------------------*/
/*  Admin Order Details Page   */
/*------------------------------------------------------------------*/
/*  Admin Order Info Summary Section   */
/*------------------------------------------------------------------*/
/* .admin_order_info{
    width: 300px;
    margin: 20px;
    padding: 10px;
    border: 1px solid #a3a3a3;
    display: inline-block;
    text-align: left;
    background-color: white;
}
    .admin_order_info h4 + h4, .admin_order_info h4:nth-of-type(3){
        margin-top: 20px;
    }
    .admin_order_info span{
        margin-left: 15px;
        display: block;
    }
    .admin_order_info p{
        display: inline-block;
    }
    .admin_order_info p:first-child{
        width: 60px;
    }
    /* .admin_order_info + aside{
        width: calc(100% - 300px - 40px - 20px - 40px - 10px);
        display: inline-block;
        vertical-align: top;
        margin: 20px;
    } */ */

/*------------------------------------------------------------------*/
/*  Admin Order Info Table Section   */
/*------------------------------------------------------------------*/
.admin_order_info_table{
    width: 100%;
}
.admin_order_info_table td{
    text-align: right;
}
.admin_order_info_table td:nth-child(2), .admin_order_info_table td:nth-child(1){
    text-align: left;
}

/*------------------------------------------------------------------*/
/*  Admin Order Info Others Section   */
/*------------------------------------------------------------------*/
.admin_order_info_status{
    margin-top: 30px;
    text-align: left;
    position: relative;
}
    .admin_order_info_status .in_process_color{
        background-color: rgb(255, 183, 0);
    }
    .admin_order_info_status .shipped_color{
        background-color: rgb(126, 255, 126);
    }
    .admin_order_info_status > p, .admin_order_info_status > aside{
        border: 1px solid #a3a3a3;
        padding: 5px;
        background-color: white;
        width: fit-content;
    }
    .admin_order_info_status > aside{
        position: absolute;
        right: 0;
        top: 0;
        background-color: white;
        width: 20%;
        text-align: right;
    }
        .admin_order_info_status > aside span{
            display: block;
        }
            .admin_order_info_status > aside span p:first-child{
                display: inline-block;
                text-align: left;
                width: 50%;
            }
            .admin_order_info_status > aside span p + p{
                width: 50%;
                display: inline-block;
            }

/*------------------------------------------------------------------*/
/*  END OF Admin Order Details Page   */
/*------------------------------------------------------------------*/


/*------------------------------------------------------------------*/
/*  Admin Products Dashboard Page   */
/*------------------------------------------------------------------*/
.form_admin_products{
    margin: 20px;
    text-align: left;
    position: relative;
}
/*------------------------------------------------------------------*/
/*  Additional for Admin Products Dashboard Table Section   */
/*------------------------------------------------------------------*/
.admin_products_table td:first-child{
    height: 50px;
}
.admin_products_table a > p{
    display: inline-block;
    width: 45px;
    margin: 0 3px;
    padding: 10px;
    outline: 1px solid #a3a3a3;
}
    .admin_products_table a:first-child > p:hover{
        background-color: #1975ff;
        color: white;
    }
    .admin_products_table a:last-child > p:hover{
        background-color: rgb(255, 47, 47);
        color: white;
    }
.admin_products_table td:nth-child(4), .admin_products_table td:nth-child(5){
    text-align: middle;
}

/*------------------------------------------------------------------*/
/*  Delete Product Confirmation Box Section   */
/*------------------------------------------------------------------*/
.modal_bg_delete_product{
    z-index: 1;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(25, 117, 255, 0.14);
}
.admin_product_delete{
    display: none;
    position: absolute;
    width: 300px;
    height: 120px;
    border: 1px solid #a3a3a3;
    text-align: center;
    padding: 30px;
    top: 15%;
    left: calc(50% - 150px);
    background-color: white;
    z-index: 2;
}
    .admin_product_delete > p span{
        font-weight: 1000;
    }
    .admin_product_delete > div{
        display: block;
        margin: 60px;
        text-align: left;
        position: relative;
    }
        .admin_product_delete > div > form > input{
            background-color: rgb(255, 47, 47);
        }
        .admin_product_delete > div > button{
            position: absolute; /* in relation to .admin_product_delete div */
            right: 0;
            top: 0;
        }

/*------------------------------------------------------------------*/
/*  Admin Products Dashboard Modal Section   */
/*------------------------------------------------------------------*/
/*  Modal BG and Button for Close Modal Sub-Section   */
/*------------------------------------------------------------------*/

/*------------------------------------------------------------------*/
/*  Headings and General Form Sub-Section   */
/*------------------------------------------------------------------*/
.admin_products_add_edit{
    display: none;
    border: 1px solid #a3a3a3;
    width: 630px;
    position: absolute; /* in relation to body */
    top: 15px;
    padding: 20px;
    z-index: 2;
}
    .admin_products_add_edit h3{
        margin-bottom: 10px;
    }
    .admin_products_add_edit form p{
        display: inline-block;
        width: 150px;
        text-align: right;
        margin: 4px 10px 7px 10px;
        vertical-align: top;
    }
        .admin_products_add_edit form p + input{
            height: 18px;
            width: 420px;    
            margin: 0px 10px;
        }
        .admin_products_add_edit form p + textarea{
            margin: 0px 10px;
            width: 420px;    
            height: 80px;
        }


/*------------------------------------------------------------------*/
/*  General Form Section - Dummy Select Tag Section   */
/*------------------------------------------------------------------*/
    .select_tag_container{
        position: relative;
        display: inline-block;
        margin: 0px 15px 5px 0px;
    }
    .admin_products_add_edit .dummy_select_tag{
        position: relative;
        text-align: left;
        background-color: white;
        border: none;
        outline: none;
    }
        .dummy_select_tag span:last-child{
            position: absolute; /* in relation to .dummy_select_tag */
            right: 7px;
            top: 7px; 
            padding: 2px;
            width: 24px;
            border: none;
            background-color: none;
            text-align: center;
        }
        .select_tag_container ul{
            list-style-type: none;
            padding: 0;
            margin: 0;
        }
    .admin_products_add_edit .product_categories{
        position: absolute; /* in relation to .select_tag_container */
        top: 26px;
        left: 0px;
        width: 428px;
        background-color: white;
        outline: 1px solid black;
    }
        .product_category_edit_delete_section{
            height: 60px;
            border-bottom: 1px solid black;
            padding: 2px 0;
        }
            .product_category_btn{
                /* visibility: hidden; */
            }
                .form_product_category_edit{
                    display: inline;
                }
                    .product_category_text_input{
                        height: 24px;
                        border: none;
                        /* width: 328px; */
                        width: 200px;
                        padding: 1px 10px;
                    }
                .btn_product_category_edit, .btn_product_category_delete{
                    outline: 1px solid #a3a3a3;
                    padding: 4px 9px;
                    color: white;
                    background-color: #1975ff;
                    z-index: 99;
                }
                    .btn_product_category_edit:hover, .btn_product_category_delete:hover{
                        cursor: pointer;
                    }
                .btn_product_category_delete{
                    background-color: rgb(255, 47, 47);
                }
.waiting_icon{
    height: 100%;
    display: inline-block;
    visibility: hidden;
    width:20px;
}
    .waiting_icon img{
        height: 100%;
        width:20px;
    }

/*------------------------------------------------------------------*/
/*  General Form Section - Dummy Select Tag Section - Delete Confirmation Box Section   */
/*------------------------------------------------------------------*/
.bg_category_confirm_delete{
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.category_confirm_delete{
    position: absolute;
    width: 300px;
    height: 120px;
    border: 1px solid #a3a3a3;
    text-align: center;
    padding: 30px;
    top: 15%;
    left: calc(50% - 150px);
    background-color: white;
}
    .category_confirm_delete > p > span{
        font-weight: 1000;
    }
    .category_confirm_delete > div{
        display: block;
        margin: 60px;
        text-align: left;
        position: relative;
    }
        .category_confirm_delete > div > form > input{
            background-color: rgb(255, 47, 47);
        }
        .category_confirm_delete > div > button{
            position: absolute; /* in relation to .category_confirm_delete > div */
            right: 0;
            top: 0;
        }

/*------------------------------------------------------------------*/
/*  General Form Section - Upload Image Section   */
/*------------------------------------------------------------------*/
input[type=file]{
    display: none;
}
.admin_products_add_edit .img_field_name{
    margin: 10px 16px 0 10px;
}
.file_upload_label{
    display: block;
    border: 0.5px solid rgb(118, 118, 118);
    padding: 4px 6px;
    cursor: pointer;
    background-color: rgb(239, 239, 239);
    vertical-align: bottom;
}
.img_upload_container{
    padding: 0;
    width: fit-content;
    text-align: center;
}
.img_upload_section{
    /* width: 363px; */
    padding: 5px 20px;
    background-image: url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-list hamburger_icon" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/></svg>');
    background-repeat: no-repeat;
    background-position: 10px 22px;
    padding-left: 50px;
    list-style-type: none;
}   
    .img_upload_section .hamburger_icon, .img_upload_section figure, .img_upload_section p.img_filename, .img_upload_section .btn_img_upload_delete, .img_upload_section input[type=checkbox]{
        vertical-align: middle;
        display: inline-block;
    }
    .img_upload_section .hamburger_icon{
        padding: 10px;
    }
    .img_upload_section figure{
        width: 60px;
        height: 60px;
        vertical-align: middle;
    }
    .img_upload_section p.img_filename{
        text-align: left;
        width: 195px;
        margin: 0 10px 0 5px;
        overflow-x: auto;
    }
    .img_upload_section .btn_img_upload_delete{
        padding: 8px;
        outline: 1px solid #a3a3a3;
        background-color: rgb(255, 47, 47);
        color: white;
        visibility: hidden;
    }
    .img_upload_section input[type=checkbox]{
        margin: 0 5px 0 10px;
    }

/*------------------------------------------------------------------*/
/*  General Form Section - Buttons Section   */
/*------------------------------------------------------------------*/
.products_add_edit_btn{
    text-align: right;
    height: fit-content;
}
.btn_cancel_products_add_edit{
    margin: 0px;
    vertical-align: top;
}
.btn_preview_products_add_edit{
    margin: 0;
    background-color: rgb(126, 255, 126);
    vertical-align: top;
}
.btn_submit_products_add_edit{
    background-color: rgb(57, 57, 255);
    color: white;
    margin: 0px 20px 0px 0;
}

/*------------------------------------------------------------------*/
/*  END OF Admin Products Dashboard Modal Section   */
/*------------------------------------------------------------------*/

/*------------------------------------------------------------------*/
/*  END OF Admin Products Dashboard Page   */
/*------------------------------------------------------------------*/

*{
    font-family: 'Poppins', sans-serif;
}
input[type=checkbox]{
    display: block;
}
#nav{
    font-family: 'Poppins', sans-serif;
    background-color: #F37B37;
}
table{
    font-family: 'Poppins', sans-serif;
}
.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
    background-color: #fbfbfb;
    vertical-align: middle;
 }
.table-striped>tbody>tr:nth-child(even)>td, 
.table-striped>tbody>tr:nth-child(even)>th {
    background-color: #e3e3e3;
    vertical-align: middle;
}
thead{
    background-color: var(--secondary);
    color: #f2f2f2;
}
.outline{
    outline: 1px solid red;
}
.btn-primary{
    background-color: var(--primary);
    border: none;
}
.btn-primary:hover, .btn-secondary:hover{
    background-color: var(--accent);
}
.btn-outline-primary{
    border: 1px solid var(--primary);
    color: var(--primary);
}
.btn-outline-primary:hover{
    background-color: var(--primary);
    border: 1px solid var(--primary);
}
.btn-secondary{
    background-color: var(--secondary);
    border: none;
}
a.logoff{
    color: #f2f2f2;
}
a.logoff:hover{
    color: red;
}

textarea:focus,
input[type="text"]:focus,
.form-select:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
input[type="checkbox"]:focus,
.uneditable-input:focus {   
    border-color: var(--accent);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px var(--accent);
    outline: 0 none;
}
input[type="checkbox"]:checked{
    background-color: var(--accent);
}
.form-check-input:checked{
    border-color: var(--accent);
    outline: none;
}
.category_items{
    font-size: 15px;
}
input[type=checkbox] {
    transform: scale(1.5);
}
.category_item{
    margin: 5px 0px;
}
main{
    text-align: center;
    padding: 0px 100px;
}
.name_container{
    height: 50px;
    width: 260px;
    background-color: var(--secondary);
    color:#f2f2f2;
}
.quick_buy{
    height: 35px;
}
.show_products{
    height: 270px;
    padding: 10px;
}
.prod_desc{
    padding-left: 40px;
}
#total{
    font-size: 24px;
}
.btn-outline-secondary{
    border: 1px solid var(--secondary);
    color: var(--secondary);
}
.btn-outline-secondary:hover{
    background-color: var(--secondary);
    border: 1px solid var(--secondary);
}
nav{
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 0, 0, 0.2);
}
.qty_cart{
    height: 20px;
    width: 50px;
}
.qty_td{
    flex-grow: 0;
}
.cart_delete{
    height: 20px;
    width: 40px;
    padding: 0;
    font-size: 12px;
}
.hero_img{
    background-color: white;
    color:white;
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url("https://images.pexels.com/photos/3184340/pexels-photo-3184340.jpeg");
    background-size: cover;
    height: 900px;
    position: absolute;
    top: 55px;
}

.nav_landing{
    margin-bottom: 0;
}
.form_register_login{
}
.all_forms{
    background-color: #e7e7e71d;
}

.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    }
    
    
    .rating > input{ display:none;}
    
    .rating > label {
    position: relative;
    width: 1.1em;
    font-size: 1.5vw;
    color: var(--primary);
    cursor: pointer;
    }
    
    .rating > label::before{
    content: "\2605";
    position: absolute;
    opacity: 0;
    }
    
    .rating > label:hover:before,
    .rating > label:hover ~ label:before {
    opacity: 1 !important;
    }
    
    .rating > input:checked ~ label:before{
    opacity:1;
    }
    
    .rating:hover > input:checked ~ label:before{ opacity: 0.4; }

.checked-rating {
    color: var(--primary);
    }